<body>
    <div id="homeWrap">
        <!-- <dl>
            <dt><h3>note</h3></dt>
            <dd>以markdown格式记录的前端学习笔记和总结。</dd>
            <dt><h3>demo</h3></dt>
        </dl> -->
        <div id="sky">
            <div id="treeWrap">
                <div id="sun"></div>
                <div id="tree1" class="tree"></div>
                <div id="tree2" class="tree"></div>
                <div id="tree3" class="tree"></div>
            </div>
        <div id="desk"></div>

    </div>
    </div>
</body>
<script>
</script>