<body>
    <div id="readWarp">
        <ol id="bookList">
            <li>
                <img src="../style/img/book/1. 罗生门.jpg">
                <h2>罗生门</h2>
                <h4>芥川龙之介</h4>
                <h6>译：楼适夷, 高培明</h6>
                <p>
                    包含短篇罗生门、地狱变、奉教人之死、老年的素盏鸣尊、秋山图、莽丛中、报恩记、阿富的贞操、六宫公主、戏作三昧、山鹬、河童、蜘蛛丝、鼻子、单相思、南京的基督、阿耆尼神、怪异岛。
                </p>
            </li>
            <li>
                <img src="../style/img/book/1. 罗生门.jpg">
                <h2>金阁寺</h2>
                <h4>三岛由纪夫</h4>
                <h6>译：唐月梅</h6>
                <p>
                    烧毁我的火，也定会烧毁金阁。这种想法几乎陶醉了我。在遭受相同灾难、相同不吉利的火的命运中，金阁和我所居住的世界一元化了。尽管金阁坚固，却与我的脆弱而丑陋的肉体一样，拥有易燃的碳素的肉体。这么一想，我似乎可以把金阁藏在我的肉体里，藏在我的组织里，然后潜逃，就像潜逃的盗贼把昂贵的宝石咽下，然后隐匿起来似的。
                </p>
            </li>
        </ol>
    </div>
</body>
<script>
</script>